.super_outer_box {
  background-color: #d3d3d3; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.outer_box {
  background-color: #f0f0f0;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_box {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}


.button_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

.deposit {
  background-color: #28a745;
  color: white;
}

.withdraw {
  background-color: #dc3545;
  color: white;
}
